* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: black;
}

section.bg-blue {
    background-color: blue;
}

section.bg-orange {
    background-color: orange;
}

.bg-red {
    background-color: rgb(227, 50, 50);
}

.bg-green {
    background-color: rgb(19, 214, 32);
}

.bg-yellow {
    background-color: rgb(218, 235, 31);
}

